.container {
  /* text-align: center; */
  width: 90%;
  max-width: 60pc;
  margin: auto;
}

.image {
  height: 24pc;
  width: 100%;
  border-radius: 10px;
}

.image.image1 {
  background: url("./assets/photo-1.jfif");
  background-size: cover;
}
.image.image2 {
  background: url("./assets/photo-2.jfif");
  background-size: cover;
}
.image.image3 {
  background: url("./assets/photo-3.jfif");
  background-size: cover;
}
.image.image4 {
  background: url("./assets/photo-4.jfif");
  background-size: cover;
}
.image.image5 {
  background: url("./assets/photo-5.jfif");
  background-size: cover;
}
.image.image6 {
  background: url("./assets/photo-6.jfif");
  background-size: cover;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

i {
  font-size: 2rem;
}

monospace {
  font-family: monospace;
  background-color: #111;
  padding: 4px;
  font-size: 17px;
  border-radius: 6px;
  user-select: text;
  -webkit-user-select: text;
}

code {
  display: block;
  font-family: monospace;
  background-color: #111;
  padding: 14px;
  margin: 14px 0;
  font-size: 17px;
  border-radius: 6px;
  user-select: text;
  -webkit-user-select: text;
}

img,
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

table,
th,
td {
  border: 1px solid #111;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #111;
  margin-top: 40px;
}

.footer .container {
  height: 100%;
  width: 90%;
  max-width: 60pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
